# This file is a "template" of what your parameters.yml file should look like
parameters:
    mailer_transport: smtp
    mailer_host: smtp.yandex.ru
    mailer_user: robot@maxi-booking.ru
    mailer_password: ghjlflbv10rjgbq
    locale: ru
    secret: I5Uv5dLKYqA8qe4XyX6XLxrT3
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
    mongodb_url: 'mongodb://localhost:27017/mbhs'
    mongodb_database: mbhs
